<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <div class="container">
    <form class="form-group" #ComForm ="ngForm" (ngSubmit)="OnSaveChanges(ComForm.value)">
      <div class="col-md-6 form-line">
        <div class="form-group">
          <label>Commercial Name</label>
          <input type="text" class="form-control" name="name" [ngModel]="name" #postName/>
        </div>
        <div class="form-group">
          <label>Commercial Location</label>
          <input type="text" class="form-control" name="location" [ngModel]="location">
        </div>
        <div class="form-group">
          <label>Background Color</label>
          <input type="color" class="form-control" name="color" [(ngModel)]="color" (ngModelChange)="color = $event">                          
        </div>
        <div class="form-group">
          <label>Price</label>
          <input type="text" class="form-control" name="price" [ngModel]="price">
        </div>
        <div class="form-group">
          <label>Time to show</label>
          <input type="text" class="form-control" name="timeToShow" [ngModel]="timeToShow">
        </div>
        <div class="form-group">
          <label>Text inputs</label>
          <input type="text" class="form-control" name="textInputs" [ngModel]="textInputs">
        </div>
        <div class="form-group">
          <label>Image Inputs</label>
          <input type="text" class="form-control"  name="imageInputs" [ngModel]="imageInputs">
        </div>        
         <div class="form-group">
          <label>Vido URL</label>
          <input type="text" class="form-control"  name="videoUrl" [ngModel]="videoUrl">
        </div> 
        <div class="form-group">
          <label>Recomended Sites</label>
          <input type="text" class="form-control"  name="recomendedSites" [ngModel]="recomendedSites">
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button (click)="onDeleteItem(postName.value)" class="btn btn-danger">Delete</button>
        </div>
        
      </div>
      <div class="col-md-6">
        <app-google-maps location={{location}}></app-google-maps>
      </div>
    </form>
  </div>

