hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.blueTextShadowClass{
  text-shadow: 2px 2px 8px #09fffd;
}

.redTextShadowClass{
  text-shadow: 2px 2px 8px #ff4328;
}
