<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="form-group row">
  <div class="col-xs-2 col-md-offset-2">
     <label class="blueTextShadowClass">filter according to: </label>
     <button (click)="onFilter(Location.value,Price.value,Text.value)" type="submit" class="btn btn-primary form-control">Filter</button>
  </div>
  <div class="col-xs-2">
    <label for="ex1">Location</label>
    <input class="form-control" id="ex1" type="text" #Location>
  </div>
  <div class="col-xs-2">
    <label for="ex1">Price</label>
    <input class="form-control" id="ex1" type="text" #Price>
  </div>
  <div class="col-xs-2">
    <label for="ex1">Contains text</label>
    <input class="form-control" id="ex1" type="text" #Text>
  </div>
</div>

<div class="form-group row">
  <div class="col-xs-2 col-md-offset-2">
    <label class="redTextShadowClass">filter according to: </label>
    <button (click)="onFilter2(Name.value,TTS.value,URL.value)" type="submit" class="btn btn-primary form-control">Filter</button>
  </div>
  <div class="col-xs-2">
    <label for="ex1">Name</label>
    <input class="form-control" id="ex2" type="text" #Name>
  </div>
  <div class="col-xs-2">
    <label for="ex1">Time To Show</label>
    <input class="form-control" id="ex2" type="text" #TTS>
  </div>
  <div class="col-xs-2">
    <label for="ex1">Recomended Sites</label>
    <input class="form-control" id="ex2" type="text" #URL>
  </div>

  <ul style="list-style-type:none">
    <li *ngFor="let com of commercialsToDisplay; let index = index">
      <div>
        <app-single-com-view (notifyDelete)="deleteCommercial($event)"  (notifyUpdate)="updateMessage($event)" id="{{index}}" [currentPost] = com></app-single-com-view>
          <!-- <app-home-screen [allPost] = com id="{{index}}" ></app-home-screen>  -->
        <hr>
      </div>
    </li>
  </ul>

