
<ul style="list-style-type:none">   
    <li>
        <div>            
            <div class="container">
                <form class="form-group">
                    <div class="col-md-6 form-line">                        
                        <h3>Commercials</h3>
                    </div>            
                    <div class="col-md-6">                        
                        <h3>Price</h3>
                    </div>  
                </form>
            </div> 
       </div>
    </li>
    <li *ngFor="let com of comToDisplay; let index = index">
        <div>            
            <div class="container">
                <form class="form-group">
                    <div class="col-md-6 form-line">
                        <div class="form-group" *ngFor="let comName of com.name; let index = index">
                            <label>{{comName}}</label>          
                        </div> 
                    </div>            
                    <div class="col-md-6">
                        <label>{{com.price}}</label>
                    </div>  
                </form>
            </div> 
            <hr>       
       </div>
    </li>
  </ul>