<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Our final EVER PROJECT IN FIRST DEGREE
  </h1>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">      
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Commercials Viewer</a></li>
        <li><a routerLink="/updateComs" routerLinkActive="active">Update Commercial</a></li>
        <li><a routerLink="/addCom" routerLinkActive="active">Add Commercial</a></li>
        <li><a routerLink="/groupCom" routerLinkActive="active">Pricing statistics</a></li>
        <li><a routerLink="/search" routerLinkActive="active">Inspire Yourself</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <article class="weather-element">
            <div class="col-1">
              <h5>Current Temprature At Collage</h5>
            </div>
            <div class="col-2">
              <span class="temperature">{{Weather}}°C</span>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </nav>
  <div>    
    <router-outlet></router-outlet>   
  </div><br/>
  <footer>
    <p>We are going to Tel Aviv University</p>
    <p>NO MORE MIHLALA</p>
  </footer>
</div>

