<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Our final EVER PROJECT IN FIRST DEGREE
  </h1>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CommercialsShit</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Main Page</a></li>
        <li><a href="#">Update Coms</a></li>
        <li><a href="#">Add Com</a></li>
        <li><a href="#">Statistics</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Date goes here with WebService</a> </li>
      </ul>
    </div>
  </nav>
  <app-first-component></app-first-component>
  <footer>
    <p>We are going to Tel Aviv University</p>
    <p>NO MORE MIHLALA</p>
  </footer>

</div>

