.parentDiv {
  position:relative
}
.sideRight{
}
.weather-element h5{
  color: white;
  font-family: 'Segoe UI Black';
  font-size: medium;
}
.weather-element {
  color: white;
  padding-right: 20px;
}
ul {
    list-style-type: none;
    margin: 20;
    padding: 15; 
    overflow: hidden;    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px !important;
    text-decoration: none;
}
h1{
  font-family: 'Segoe UI Black';
  font-size:60px;
}
