<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <form class="form-group" #ComForm ="ngForm" (ngSubmit)="AddCom(ComForm.value)">
    <div class="col-md-6 form-line">
      <div class="form-group">
        <label>Commercial Name</label>
        <input type="text" class="form-control" name="name" [ngModel]="name" required/>
      </div>
      <div class="form-group">
        <label>Commercial Location</label>
        <input type="text" class="form-control" name="location" [ngModel]="location" required>
      </div>
      <div class="form-group">
        <label>Background Color</label>        
            <input type="color" class="form-control color" name="color" [(ngModel)]="color" (ngModelChange)="color = $event" required>               
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" name="price" [ngModel]="price" required>
      </div>
      <div class="form-group">
        <label>Time to show</label>
        <input type="number" class="form-control" name="timeToShow" [ngModel]="timeToShow" required>
      </div>
      <div class="form-group">
        <label>Text inputs</label>
        <input type="text" class="form-control" name="textInputs" [ngModel]="textInputs" required>
      </div>
      <div class="form-group">
        <label>Image Inputs</label>
        <input type="url" class="form-control"  name="imageInputs" [ngModel]="imageInputs" required>
      </div>
      <div class="form-group">
        <label>Vido URL</label>
        <input type="url" class="form-control"  name="videoUrl" [ngModel]="videoUrl" required>
      </div>
      <div class="form-group">
        <label>Recomended Sites</label>
        <input type="url" class="form-control"  name="recomendSites" [ngModel]="recomendSites" required>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
    <div class="col-md-6">
      <img src="http://i-doadv.com/images/advertising.jpg" alt="newPic" style="width:804px;height:628px;">
    </div>
  </form>
</div>

